.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.ccarousel-item img{
    background-size: cover;
}

.carousel-caption{
    bottom: 40%;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 1.7px;
}

.carousel-caption p{
    width: 100%;
    margin: auto;
    font-size: 18px;
}

.navbar navbar-light .navbar-brand{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-nav .nav-item .nav-link{
    color: #FFF;
    transition: color 0.3s ease;
}
